* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.zy-ui-root {
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.zy-ui-root > * {
	flex-shrink: 0;
	/*z-index: -100;*/
}

.zy-ui-full {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.zy-ui-background {
	/*background: linear-gradient(to bottom,#3b9bf5 0%,#81c4f7 100%);*/
	background: linear-gradient(to bottom,#04b 0%,#81c4f7 100%);
	z-index: -100;
}

.zy-ui-foreground {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1200px;
	height: 600px;
	text-align: center;
}

.zy-ui-foreground-main {
	overflow: hidden;
	bottom: -50px;
}

@keyframes earthMove{
	0% { transform: rotate(0deg);  }
	25% { transform: rotate(60deg);  }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg);  }
}

.zy-ui-foreground-earth {
	position: absolute;
	left: calc(50% - 230px);
	bottom: 0;
	width: 1000px;
	height: 600px;
	background: url('../images/earth.png') no-repeat center 0;
	background-size: auto 100%;
	z-index: 100;
}

.zy-ui-foreground-earth.move {
	animation: earthMove 20s infinite linear;
	-webkit-animation: earthMove 20s infinite linear;

	animation-delay: 0;
	-webkit-animation-delay: 0;
}

@keyframes satelliteMove {
	0% { transform: scale(0.5) rotate(0deg);  }
	25% { transform: scale(1) rotate(30deg);  }
	50% { transform: scale(1.5) rotate(60deg); }
	75% { transform: scale(1) rotate(30deg); }
	100% { transform: scale(0.5) rotate(0deg);  }
}

.zy-ui-foreground-satellite {
	width: 200px;
	height: 150px;
	background: url('../images/satellite.png') no-repeat;
	background-size: 100% 100%;
}

.zy-ui-foreground-satellite.move {
/*	transition: transform 2s;
	-moz-transition: transform 2s;  
	-webkit-transition: transform 2s;  
	-o-transition: transform 2s; */
	
	animation: satelliteMove 10s infinite linear;
	-webkit-animation: satelliteMove 10s infinite linear;
}

.zy-ui-foreground-satellite:hover {
	cursor: pointer;
}

.ui-text {
	position: absolute;
	left: 20%;
	bottom: 30%;
}

.ui-title {
	font-size: 25px;
	line-height: 5;
}

.ui-btn {
	background-color: #f00;
	padding: 20px 30px;
	border-radius: 15px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	border: 0;
	text-align: center;
}

.ui-btn:hover {
	background-color: #c00;
	transform: translateY(-3px);
}