.scale-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	opacity: 0.8;
}

.scale-panel {
	position: absolute;
	width: 800px;
	height: 600px;
	left: 50%;
	top: 50%;
	margin-top: -300px;
	margin-left: -400px;
	border-radius: 15px;
	background: linear-gradient(to bottom,#666 0%,#000 100%);
	border: 10px solid #fff;
	opacity: 1;
}

.scale-panel-lst {
	height: 100%;
}

.scale-panel-lst-close {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #fff;
    top: -40px;
    right: -40px;
    border-radius: 50px;
    font-size: 50px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 600;
    color: #999;
}

.scale-panel-lst-close:hover {
	color: #555;
}

.scale-panel-title, .scale-panel-title {
	margin: 20px;
	font-weight: 600;
	font-size: 16px;
	color: #fff;
}

.scale-lst {
	margin: 0 auto;
	width: 90%;
	font-size: 16px;
	height: calc(100% - 100px);
	max-height: calc(100% - 100px);
	overflow-y: auto;
}

.scale-lst-item {
	background: linear-gradient(to bottom,#3b9bf5 0%,#81c4f7 100%);
	line-height: 3;
	border-radius: 30px;
	margin: 10px 0;
	padding: 0 30px;
}

.scale-lst-item:hover {
	background: linear-gradient(to bottom,#000 0%,#555 100%);
	color: #fff;
	cursor: pointer;
}

.scale-panel-scale {
	height: 100%;
}

.scale-panel-scale-description {
	margin: 30px;
	padding: 10px;
	height: calc(100% - 180px);
	max-height: calc(100% - 180px);
	overflow-y: auto;
	background: linear-gradient(to bottom, #ccc 0%, #fff 100%);
	word-wrap: break-word;
	white-space: pre-wrap;
	line-height: 1.8;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}

.scale-panel-scale-tool {
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.scale-btn {
	display: inline-block;
	width: 100px;
	height: 50px;
	margin: 0 20px;
	padding: 5px 10px;
	cursor: pointer;
	border: 0;
	background: linear-gradient(to bottom, #A00 0%, #F33 100%);
	border-radius: 20px;
	font-weight: 600;
	color: #fff;
}

.scale-btn.scale-btn-load {
	background: linear-gradient(to bottom, #00c 0%, #06f 100%);
}

.scale-btn:hover {
	background: linear-gradient(to bottom, #555 0%, #ccc 100%);
	transform: translateY(-3px);
}

.scale-btn.disable{
	background: linear-gradient(to bottom, #888 0%, #ccc 100%);
}

.scale-btn.disable:hover {
	background: linear-gradient(to bottom, #888 0%, #ccc 100%);
	transform: translateY(0);
}

.scale-panel-personal {
	height: 100%;
}

.scale-personal-info {
	padding: 10px;
	height: calc(100% - 150px);
}

.scale-personal-base, .scale-personal-extra {
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 15px;
}

.scale-personal-item {
	display: inline-block;
	margin: 10px;
}

.scale-personal-item-title {
	display: inline-block;
	width: 100px;
	color: #fff;
	font-weight: 600;
	vertical-align: middle;
}

.scale-personal-item-input {
	width: 200px;
	height: 30px;
	border: 0;
	border-radius: 15px;
	padding: 5px 20px;
	vertical-align: middle;
}

.scale-panel-run {
	height: 100%;
}

.scale-item {
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	padding: 30px;
}

.scale-item-title {
	height: 70px;
	font-size: 16px;
	color: #fff;
}

.scale-item-option-panel{
	height: calc(100% -100px);
}

.scale-item-option {
	font-size: 18px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.scale-item-option-box {
	cursor: pointer;
	margin: 10px 0;
	padding: 5px 20px;
}

.scale-item-option-box:hover {
	background: linear-gradient(to bottom, #888 0%, #333 50%, #888 100%);
	border-radius: 15px;
}

.scale-item-option-text {
	margin-left: 10px;
	color: #fff;
	cursor: pointer;
}

.scale-item-tools {
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.scale-item-tools-btn {
	width: 100px;
	height: 30px;
	border: 0;
	border-radius: 15px;
	cursor: pointer;
}

.scale-item-tools-btn:hover {
	background-color: #aaa;
}

.scale-panel-result-info {
	margin: 10px;
	padding: 20px;
	height: calc(100% - 100px);
	overflow-y: auto;
	background: linear-gradient(to bottom, #ccc 0%, #fff 100%);
}

.scale-result-factor {
	margin: 10px;
	padding: 10px;
}

.scale-result-factor-name {
	line-height: 2;
	font-weight: 600;
}